<ng-container *ngIf="!isUserLoggedIn">
    <app-login></app-login>
</ng-container>

<ng-container *ngIf="isUserLoggedIn">
    <app-dashboard></app-dashboard>
        <mat-drawer-container class="example-container" autosize>
          <mat-drawer mode="push" [opened]="isSidebarOpened" (closed)="onCloseSidebar()">
            <app-side-nav></app-side-nav>
          </mat-drawer>
          <mat-drawer-content>
          </mat-drawer-content>
        </mat-drawer-container>
        <div class="main-content">

            <router-outlet></router-outlet>
        </div>
</ng-container>



