<div class="img-div">
    <img [src]="imgLandingPage" class="img-class" alt="landing-page">
</div>

<div class="card text-dark bg-light mb-3 card-div" style="max-width: 18rem;">
    <div class="card-header fw-bold">Login as a Guest</div>
    <div class="card-body">
    <button type="button" class="btn btn-success" (click)="setUserLogin(true)">
        Login
        </button>
      <!-- <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
</div>